body {
  background: #f0f0f0;
}

h1 {
  margin-top: 80px;
  text-align: center;
}

.container .row {
  width: 100%;
}

.container .row .element {
  padding: 3%;
}

.container .row .element .card {
  padding: 0;
  height: 400px;
  background: white;
  -webkit-box-shadow: 0 0 1px 1px grey;
          box-shadow: 0 0 1px 1px grey;
}

.container .row .element .card .bar {
  background: #d1cfcf;
  -webkit-box-shadow: 0 0 2px 1px dimgray;
          box-shadow: 0 0 2px 1px dimgray;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .row .element .card .bar div {
  cursor: pointer;
  margin-right: 7px;
  color: #333;
}

.container .row .element .card .bar div:hover {
  color: #000;
}

.container .row .element .card .display {
  position: relative;
  width: 100%;
  height: 365px;
  overflow: hidden;
}

.container .row .element .card .display .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.container .row .element .card .display .slider .front, .container .row .element .card .display .slider .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .row .element .card .display .slider .front .image, .container .row .element .card .display .slider .back .image {
  width: 100%;
  height: 200px;
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container .row .element .card .display .slider .front .image img, .container .row .element .card .display .slider .back .image img {
  width: 100%;
  min-height: 100%;
}

.container .row .element .card .display .slider .front .content, .container .row .element .card .display .slider .back .content {
  padding: 20px;
  height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .row .element .card .display .slider .front .content .title, .container .row .element .card .display .slider .back .content .title {
  margin-bottom: 10px;
  font-size: 130%;
  font-weight: 500;
}

.container .row .element .card .display .slider .front {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.container .row .element .card .display .slider .back {
  overflow: hidden;
  height: 50%;
  width: 100%;
}

.container .display:hover .slider {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.delete-alert-box {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 200px;
  width: 350px;
  background-color: white;
  -webkit-box-shadow: 0 0 2px 2px #979595;
          box-shadow: 0 0 2px 2px #979595;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delete-alert-box .message {
  text-align: center;
}

.delete-alert-box .message .message-warning {
  color: red;
  font-style: italic;
}

.delete-alert-box .utils * {
  margin: 15px;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

.buttons button {
  margin: 20px;
  padding: 5px 8px 5px 8px;
  outline: none;
  width: 80px;
  border-radius: 5px;
}

.add-card-container {
  margin-top: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color: #ece8e8;
  z-index: 100;
  -webkit-box-shadow: 0 0 2px 1px grey;
          box-shadow: 0 0 2px 1px grey;
}

.add-card-container h1 {
  margin-top: 15px;
}

.add-card-container .add-card-area {
  position: absolute;
  top: 52px;
  width: 100%;
  height: calc(100% - 52px);
  overflow: auto;
}

.add-card-container .add-card-area .require {
  position: relative;
}

.add-card-container .add-card-area .require .requiresymbol {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #ec2525;
}

.add-card-container .add-card-area .require .requiresymbol .sao {
  position: relative;
  top: 2px;
}

.add-card-container .add-card-area input {
  width: 80%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
}

.add-card-container .add-card-area textarea {
  width: 80%;
  min-width: 60%;
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.add-card-container .add-card-area input:focus, .add-card-container .add-card-area textarea:focus {
  background-color: #f7f0f0;
}

.add-card-container .add-card-area .front {
  background-color: #b3e3f0;
  text-align: center;
  border-right: 1px solid #b1b0b0;
}

.add-card-container .add-card-area .back {
  background-color: #f3eca9;
  text-align: center;
}

.add-card-container .utils {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#004d8b), to(#ac5d02));
  background-image: linear-gradient(to right, #004d8b, #ac5d02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px #bbb5b5;
          box-shadow: 0 1px #bbb5b5;
}

.add-card-container .utils div {
  cursor: pointer;
  margin: 0 15px 0 15px;
  font-size: 20px;
  color: #c0bdbd;
}

.add-card-container .utils div:hover {
  color: white;
}

.add-card-container .utils .add-card-btn {
  color: #e0dfdf;
  font-size: 35px;
}

.add-card-container .utils div:active {
  color: #fae6c2;
  position: relative;
  top: 1px;
}

.add-card-container .utils .add-card-btn:active {
  color: #f0bf65 !important;
}

.warning-border {
  border: 2px solid #e43333 !important;
}

@-webkit-keyframes remove {
  from {
    opacity: 1;
    height: 300px;
    width: 200px;
  }
  to {
    opacity: 0;
    height: 0;
    width: 0;
    display: none;
  }
}

@keyframes remove {
  from {
    opacity: 1;
    height: 300px;
    width: 200px;
  }
  to {
    opacity: 0;
    height: 0;
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .add-card-container {
    width: 90% !important;
  }
}
/*# sourceMappingURL=view_card.css.map */